<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>data</key>
            <array>
                <dict>
                    <key>file</key>
                    <string>emoji_000.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_0</string>
                    <key>tag</key>
                    <string>[laugh]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_001.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_01</string>
                    <key>tag</key>
                    <string>[happy]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_002.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_02</string>
                    <key>tag</key>
                    <string>[sexy]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_003.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_03</string>
                    <key>tag</key>
                    <string>[cool]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_004.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_04</string>
                    <key>tag</key>
                    <string>[mischievous]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_005.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_05</string>
                    <key>tag</key>
                    <string>[kiss]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_006.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_06</string>
                    <key>tag</key>
                    <string>[spit]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_007.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_07</string>
                    <key>tag</key>
                    <string>[squint]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_008.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_08</string>
                    <key>tag</key>
                    <string>[cute]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_009.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_09</string>
                    <key>tag</key>
                    <string>[grimace]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_010.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_10</string>
                    <key>tag</key>
                    <string>[snicker]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_011.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_11</string>
                    <key>tag</key>
                    <string>[joy]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_012.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_12</string>
                    <key>tag</key>
                    <string>[ecstasy]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_013.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_13</string>
                    <key>tag</key>
                    <string>[surprise]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_014.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_14</string>
                    <key>tag</key>
                    <string>[speechless]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_015.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_15</string>
                    <key>tag</key>
                    <string>[sweat]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_016.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_16</string>
                    <key>tag</key>
                    <string>[angle]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_017.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_17</string>
                    <key>tag</key>
                    <string>[Funny]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_018.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_18</string>
                    <key>tag</key>
                    <string>[awkward]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_019.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_19</string>
                    <key>tag</key>
                    <string>[thrill]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_020.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_20</string>
                    <key>tag</key>
                    <string>[cry]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_021.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_21</string>
                    <key>tag</key>
                    <string>[fretting]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_022.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_22</string>
                    <key>tag</key>
                    <string>[terrorist]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_023.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_23</string>
                    <key>tag</key>
                    <string>[halo]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_024.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_24</string>
                    <key>tag</key>
                    <string>[shame]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_025.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_25</string>
                    <key>tag</key>
                    <string>[sleep]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_026.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_26</string>
                    <key>tag</key>
                    <string>[tired]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_027.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_27</string>
                    <key>tag</key>
                    <string>[mask]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_028.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_28</string>
                    <key>tag</key>
                    <string>[ok]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_029.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_29</string>
                    <key>tag</key>
                    <string>[all right]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_030.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_30</string>
                    <key>tag</key>
                    <string>[Despise]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_031.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_31</string>
                    <key>tag</key>
                    <string>[uncomfortable]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_032.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_32</string>
                    <key>tag</key>
                    <string>[disdain]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_033.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_33</string>
                    <key>tag</key>
                    <string>[ill]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_034.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_34</string>
                    <key>tag</key>
                    <string>[Mad]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_035.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_35</string>
                    <key>tag</key>
                    <string>[salute]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_036.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_36</string>
                    <key>tag</key>
                    <string>[face-palm]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_037.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_37</string>
                    <key>tag</key>
                    <string>[put rotten]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_038.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_38</string>
                    <key>tag</key>
                    <string>[wild with joy]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_039.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_39</string>
                    <key>tag</key>
                    <string>[think]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_040.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_40</string>
                    <key>tag</key>
                    <string>[doggy]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_041.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_41</string>
                    <key>tag</key>
                    <string>[freeze]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_042.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_42</string>
                    <key>tag</key>
                    <string>[vomit]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_043.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_43</string>
                    <key>tag</key>
                    <string>[cowboy]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_044.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_44</string>
                    <key>tag</key>
                    <string>[pinocchio]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_045.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_45</string>
                    <key>tag</key>
                    <string>[close to tear]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_046.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_46</string>
                    <key>tag</key>
                    <string>[sigh]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_047.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_47</string>
                    <key>tag</key>
                    <string>[nothing to say]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_048.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_48</string>
                    <key>tag</key>
                    <string>[celebrate]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_049.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_49</string>
                    <key>tag</key>
                    <string>[evil]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_050.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_50</string>
                    <key>tag</key>
                    <string>[freak out]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_051.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_51</string>
                    <key>tag</key>
                    <string>[trash Talk]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_052.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_52</string>
                    <key>tag</key>
                    <string>[angry]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_053.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_53</string>
                    <key>tag</key>
                    <string>[human skeleton]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_054.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_54</string>
                    <key>tag</key>
                    <string>[heart broken]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_055.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_55</string>
                    <key>tag</key>
                    <string>[heart]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_056.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_56</string>
                    <key>tag</key>
                    <string>[On Fire]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_057.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_57</string>
                    <key>tag</key>
                    <string>[cupid]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_058.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_58</string>
                    <key>tag</key>
                    <string>[Finger heart]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_059.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_59</string>
                    <key>tag</key>
                    <string>[have a look]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_060.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_60</string>
                    <key>tag</key>
                    <string>[hammer]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_061.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_61</string>
                    <key>tag</key>
                    <string>[knife]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_062.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_62</string>
                    <key>tag</key>
                    <string>[100%]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_063.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_63</string>
                    <key>tag</key>
                    <string>[night]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_064.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_64</string>
                    <key>tag</key>
                    <string>[son]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_065.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_65</string>
                    <key>tag</key>
                    <string>[Scatter flowers ]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_066.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_66</string>
                    <key>tag</key>
                    <string>[gift]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_067.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_67</string>
                    <key>tag</key>
                    <string>[congrats]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_068.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_68</string>
                    <key>tag</key>
                    <string>[buss]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_069.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_69</string>
                    <key>tag</key>
                    <string>[Explore]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_070.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_70</string>
                    <key>tag</key>
                    <string>[Rose]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_071.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_71</string>
                    <key>tag</key>
                    <string>[flower]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_072.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_72</string>
                    <key>tag</key>
                    <string>[decline]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_073.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_73</string>
                    <key>tag</key>
                    <string>[cake]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_074.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_74</string>
                    <key>tag</key>
                    <string>[hug]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_075.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_75</string>
                    <key>tag</key>
                    <string>[lamp]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_076.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_76</string>
                    <key>tag</key>
                    <string>[question]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_077.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_77</string>
                    <key>tag</key>
                    <string>[lip]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_078.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_78</string>
                    <key>tag</key>
                    <string>[have a drink]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_079.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_79</string>
                    <key>tag</key>
                    <string>[cheers]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_080.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_80</string>
                    <key>tag</key>
                    <string>[coffee]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_081.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_81</string>
                    <key>tag</key>
                    <string>[red packet]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_082.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_82</string>
                    <key>tag</key>
                    <string>[maroon]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_083.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_83</string>
                    <key>tag</key>
                    <string>[majiang]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_084.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_84</string>
                    <key>tag</key>
                    <string>[NP]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_085.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_85</string>
                    <key>tag</key>
                    <string>[bad]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_086.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_86</string>
                    <key>tag</key>
                    <string>[thumb]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_087.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_87</string>
                    <key>tag</key>
                    <string>[clap]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_088.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_88</string>
                    <key>tag</key>
                    <string>[good job]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_089.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_89</string>
                    <key>tag</key>
                    <string>[fist]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_090.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_90</string>
                    <key>tag</key>
                    <string>[hands together]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_091.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_91</string>
                    <key>tag</key>
                    <string>[wave]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_092.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_92</string>
                    <key>tag</key>
                    <string>[1]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_093.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_93</string>
                    <key>tag</key>
                    <string>[10]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_094.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_94</string>
                    <key>tag</key>
                    <string>[yeah]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_095.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_95</string>
                    <key>tag</key>
                    <string>[handshake]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_096.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_96</string>
                    <key>tag</key>
                    <string>[hand heart]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_097.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_97</string>
                    <key>tag</key>
                    <string>[no way]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_098.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_98</string>
                    <key>tag</key>
                    <string>[doubt femal]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_099.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_99</string>
                    <key>tag</key>
                    <string>[doubt male]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_100.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_100</string>
                    <key>tag</key>
                    <string>[facepalm female]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_101.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_101</string>
                    <key>tag</key>
                    <string>[facepalm male]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_102.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_102</string>
                    <key>tag</key>
                    <string>[pig]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_103.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_103</string>
                    <key>tag</key>
                    <string>[no listen]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_104.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_104</string>
                    <key>tag</key>
                    <string>[no look]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_105.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_105</string>
                    <key>tag</key>
                    <string>[no words]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_106.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_106</string>
                    <key>tag</key>
                    <string>[monkey]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_107.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_107</string>
                    <key>tag</key>
                    <string>[bomb]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_108.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_108</string>
                    <key>tag</key>
                    <string>[cloud]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_109.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_109</string>
                    <key>tag</key>
                    <string>[rocket]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_110.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_110</string>
                    <key>tag</key>
                    <string>[wish]</string>
                </dict>
                <dict>
                    <key>file</key>
                    <string>emoji_111.png</string>
                    <key>id</key>
                    <string>emoticon_emoji_111</string>
                    <key>tag</key>
                    <string>[poop]</string>
                </dict>
            </array>
            <key>info</key>
            <dict>
                <key>id</key>
                <string>default</string>
                <key>normal</key>
                <string>emoj_s_normal.png</string>
                <key>pressed</key>
                <string>emoj_s_pressed.png</string>
                <key>title</key>
                <string>emoji</string>
            </dict>
        </dict>
    </array>
</plist>
